<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTaskLabel" translate="delfosApp.task.assign.title">Create or edit a Task</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.task.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.task.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" translate="delfosApp.task.phase" for="field_phase">Phase</label>
            <input type="text" class="form-control" name="phase" id="field_phase"
                   ng-model="vm.task.phase"
                   readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" translate="delfosApp.task.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.task.name"
                   required ng-maxlength="400"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength"
                   translate-value-max="400">
                    This field cannot be longer than 400 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="assigned_to" translate="delfosApp.task.assignedTo">
                Assigned to
                <span class="asteriskField">
                    *
                </span>
            </label>
            <select class="select form-control" id="assigned_to" name="assigned_to"
                    ng-model="vm.engineer"
                    ng-options="engineer.firstName + ' ' + engineer.lastName for engineer in vm.engineers"
                    ng-disabled="vm.engineer != null && vm.task.status != 'New'">
            </select>
            <span class="help-block" id="hint_assigned_to">
       Select an engineer
      </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="delfosApp.task.estimatedTime" for="field_estimatedTime">Estimated
                Time</label>
            <input type="number" class="form-control" name="estimatedTime" id="field_estimatedTime"
                   ng-model="vm.task.estimatedTime"
                   ng-readonly="{{vm.task.estimatedTime != null && vm.task.status != 'New'}}"/>
            <div ng-show="editForm.estimatedTime.$invalid">
                <p class="help-block"
                   ng-show="editForm.estimatedTime.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="delfosApp.task.notes" for="field_notes">Notes</label>
            <input type="textArea" class="form-control" name="notes" id="field_notes"
                   ng-model="vm.task.notes"
                   ng-maxlength="3000"/>
            <div ng-show="editForm.notes.$invalid">
                <p class="help-block"
                   ng-show="editForm.notes.$error.maxlength" translate="entity.validation.maxlength"
                   translate-value-max="3000">
                    This field cannot be longer than 3000 characters.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
