<div>
    <div class="row"
         ng-repeat="story in vm.sprintStoriesList | orderBy: 'activity.id' as orderedStories track by story.activity.id">
        <div class="col-lg-12 delfos-story panel">
            <div class="panel-heading">
                {{story.activity.description}}
            </div>

            <div class="row typesDemo">
                <div class="col-xs-3 col-lg-3 delfos-lines panel">
                    <div class="panel-heading">
                        <span translate="delfosApp.activities.acceptanceCriteria"></span>
                    </div>
                    <div class="panel-body">
                        <span class="delfos-new-lines">{{story.activity.acceptanceCriteria}}</span>
                    </div>
                </div>
                <div class="col-xs-3 col-lg-3 delfos-lines panel">
                    <div class="panel-heading">
                        New
                    </div>
                    <div class="panel-body">
                        <ul dnd-list="story.newTasks"
                            dnd-drop="vm.dropCallback(item, story)"
                            dnd-inserted="story.newTasks[index].status = 'New'; vm.setUpdatedStatus('New', index)"
                            dnd-allowed-types="['New']"
                            class="">
                            <!-- The dnd-draggable directive makes an element draggable and will
                                 transfer the object that was assigned to it. If an element was
                                 dragged away, you have to remove it from the original list
                                 yourself using the dnd-moved attribute -->
                            <li ng-repeat="item in story.newTasks"
                                dnd-disable-if="item.assignedTo === null || vm.currentAccount != item.assignedTo || item.estimatedTime === null"
                                dnd-draggable="item"
                                dnd-type="item.status"
                                dnd-dragstart="vm.dragStartCallback(story)"
                                dnd-moved="vm.moveTasks('New', {{item}}, $index); story.newTasks.splice($index, 1)"
                                dnd-effect-allowed="move"
                                dnd-selected="vm.selectedStory = item"
                                ng-class="{'selected': vm.selectedStory === item}"
                                class="ng-binding ng-scope" draggable="true"
                            >
                                <dnd-nodrag ng-class="{'user-assigned': vm.currentAccount === item.assignedTo}">
                                    <div class="row">
                                        <div dnd-handle class="handle col-xs-10">
                                            {{item.name}}
                                        </div>
                                        <div class="col-xs-2">
                                            <a class="btn btn-default" ui-sref="task-assign({id:item.id})"
                                               role="button">
                                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                    </div>
                                </dnd-nodrag>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-xs-3 col-lg-3 delfos-lines panel">
                    <div class="panel-heading">
                        Working.
                    </div>
                    <div class="panel-body">
                        <ul dnd-list="story.workingTasks"
                            dnd-drop="vm.dropCallback(item, story)"
                            dnd-inserted="story.workingTasks[index].status = 'Working'; vm.setUpdatedStatus('Working', index)"
                            class="">
                            <!-- The dnd-draggable directive makes an element draggable and will
                                 transfer the object that was assigned to it. If an element was
                                 dragged away, you have to remove it from the original list
                                 yourself using the dnd-moved attribute -->
                            <li ng-repeat="item in story.workingTasks"
                                dnd-disable-if="item.assignedTo === null || vm.currentAccount != item.assignedTo"
                                dnd-draggable="item"
                                dnd-type="item.status"
                                dnd-dragstart="vm.dragStartCallback(story)"
                                dnd-moved="vm.moveTasks('Working', {{item}}, $index, story.workingTasks); story.workingTasks.splice($index, 1)"
                                dnd-effect-allowed="move"
                                dnd-selected="vm.selectedStory = item"
                                ng-class="{'selected': vm.selectedStory === item}"
                                class="ng-binding ng-scope" draggable="true"
                            >
                                <dnd-nodrag ng-class="{'user-assigned': vm.currentAccount === item.assignedTo}">
                                    <div class="row">
                                        <div dnd-handle class="handle col-xs-10">
                                            {{item.name}}
                                        </div>
                                        <div class="col-xs-2">
                                            <a class="btn btn-default" ui-sref="task-assign({id:item.id})"
                                               role="button">
                                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                    </div>
                                </dnd-nodrag>
                            </li>
                            <li class="dndPlaceholder">
                                Drop any task here
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-3 col-lg-3 delfos-lines panel">
                    <div class="panel-heading">
                        Done.
                    </div>
                    <div class="panel-body">
                        <ul dnd-list="story.doneTasks"
                            dnd-drop="vm.dropCallback(item, story)"
                            dnd-inserted="story.doneTasks[index].status = 'Done'; vm.setUpdatedStatus('Done', index)"
                            dnd-allowed-types="['Working']"
                            class="">
                            <!-- The dnd-draggable directive makes an element draggable and will
                                 transfer the object that was assigned to it. If an element was
                                 dragged away, you have to remove it from the original list
                                 yourself using the dnd-moved attribute -->
                            <li ng-repeat="item in story.doneTasks"
                                dnd-disable-if="item.assignedTo === null || vm.currentAccount != item.assignedTo"
                                dnd-draggable="item"
                                dnd-type="item.status"
                                dnd-dragstart="vm.dragStartCallback(story)"
                                dnd-moved="vm.moveTasks('Done', {{item}}, $index, story); story.doneTasks.splice($index, 1)"
                                dnd-effect-allowed="move"
                                dnd-selected="vm.selectedStory = item"
                                ng-class="{'selected': vm.selectedStory === item}"
                                class="ng-binding ng-scope" draggable="true"
                            >
                                <dnd-nodrag ng-class="{'user-assigned': vm.currentAccount === item.assignedTo}">
                                    <div class="row">
                                        <div dnd-handle class="handle col-xs-10">
                                            {{item.name}}
                                        </div>
                                        <div class="col-xs-2">
                                            <a class="btn btn-default" ui-sref="task-assign({id:item.id})"
                                               role="button">
                                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                    </div>
                                </dnd-nodrag>
                            </li>
                            <li class="dndPlaceholder">
                                Drop any task here
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
