<div>
    <h2 translate="delfosApp.activities.home.title">Activities</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="activities.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="delfosApp.activities.home.createLabel">
                        Create new Activities
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="delfosApp.activities.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="delfosApp.activities.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="acceptanceCriteria"><span translate="delfosApp.activities.acceptanceCriteria">Acceptance Criteria</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="assignedTo"><span translate="delfosApp.activities.assignedTo">Assigned To</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="project"><span translate="delfosApp.activities.project">Project</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storyPoints"><span translate="delfosApp.activities.storyPoints">Story Points</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sprintWeek"><span translate="delfosApp.activities.sprintWeek">Sprint Week</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationDate"><span translate="delfosApp.activities.creationDate">Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estimatedTime"><span translate="delfosApp.activities.estimatedTime">Estimated Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wokingTime"><span translate="delfosApp.activities.wokingTime">Woking Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remainingTime"><span translate="delfosApp.activities.remainingTime">Remaining Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span translate="delfosApp.activities.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span translate="delfosApp.activities.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="calculatedEndDate"><span translate="delfosApp.activities.calculatedEndDate">Calculated End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="delfosApp.activities.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span translate="delfosApp.activities.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notes"><span translate="delfosApp.activities.notes">Notes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activities in vm.activities track by activities.id">
                    <td><a ui-sref="activities-detail({id:activities.id})">{{activities.id}}</a></td>
                    <td>{{activities.name}}</td>
                    <td>{{activities.description}}</td>
                    <!--<td>{{activities.acceptanceCriteria}}</td>-->
                    <td>{{activities.assignedTo}}</td>
                    <td>{{activities.project}}</td>
                    <td>{{activities.storyPoints}}</td>
                    <td>{{activities.sprintWeek}}</td>
                        <td>{{activities.creationDate | date:'mediumDate'}}</td>
                    <td>{{activities.estimatedTime}}</td>
                    <td>{{activities.wokingTime}}</td>
                    <td>{{activities.remainingTime}}</td>
                        <td>{{activities.startDate | date:'mediumDate'}}</td>
                        <td>{{activities.endDate | date:'mediumDate'}}</td>
                        <td>{{activities.calculatedEndDate | date:'mediumDate'}}</td>
                    <td translate="{{'delfosApp.ActivityStatus.' + activities.status}}">{{activities.status}}</td>
                    <td translate="{{'delfosApp.ActivityType.' + activities.type}}">{{activities.type}}</td>
                    <td>{{activities.notes}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="activities-detail({id:activities.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="activities.edit({id:activities.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="activities.delete({id:activities.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
