/* delfos style */
div .delfos-story {
  background-color: #DCEECF;
  border: 2px solid #107378; }

div .delfos-story .row .delfos-lines {
  border: outset #DCA184 5px; }

div .delfos-new-lines {
  white-space: pre-line; }

.user-assigned {
  background-color: #607D8B; }
